mixin social
  if !isPreview
    .social-box
      .yashare-auto-init(data-yashareLink=fullUrl(document) data-yashareL10n="en" data-yashareQuickServices="facebook,twitter,gplus" data-yashareTheme="counter" data-yasharetype-off="small")

article
  header
    h2(class=document.npm && 'npm' || 'article')
      a(href="#{document.url}")= preparedTitle(document)

    .meta
      span posted by !{by(document)} on #{moment(document.date).format("MMMM Do YYYY")}
      a.comments(href="#{fullUrl(document)}#disqus_thread")

      - if(document.npm)
        .github-stars(data-github-repo=document.npm.repo)

    +social()

  .content
    if document.partner
      != partial(document.partner)

    != isPreview && getPreview(document) || document.contentRenderedWithoutLayouts

    +social()
