article
  header
    h2(class=post.npm && 'npm' || 'article')
      a(href="#{post.url}")= preparedTitle(post)

    .meta
      span posted by !{by()} on #{moment(post.date).format("MMMM Do YYYY")}
      a.comments(href="#{fullUrl(post)}#disqus_thread")

      - if(post.npm)
        .github-stars(data-github-repo=post.npm.repo)

    .social(data-url=fullUrl(post))

  .content
    if post.partner
      != partial(post.partner)

    != isPreview && getPreview(post) || post.contentRenderedWithoutLayouts
