!!!
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml"): head
  meta(charset="utf-8")

  link(rel="alternate" title="RSS" type="application/rss+xml" href="http://feeds.feedburner.com/npmawesome")
  link(href="#{site.url}/atom.xml" title="Blog Posts" type="application/atom+xml" rel="alternate")

  link(rel="stylesheet" type="text/css" media="all" href="/styles.css")
  meta(name="viewport" content="initial-scale=1, maximum-scale=1")

  meta(property="twitter:account_id" content="4503599628039784")
  meta(property="fb:app_id" content="1425631694354948")

  title= pageTitle()

  meta(property="og:title" content=site.title || document.title)
  meta(property="og:image" content=site.url + (document.image || '/images/default-share-image.jpg'))
  meta(property="og:updated_time" content=(document.meta.date || getCollection('posts').at(0).get('date')).valueOf())
  meta(property="og:site_name" content=site.title)
  meta(property="og:type" content=document.url === '/' ? 'blog' : 'article')
  meta(property="og:url" content=fullUrl(document))
  meta(property="og:description" content=document.description || site.description)

  link(rel="canonical" href=fullUrl(document))
  meta(name="description" content=document.description || site.description)

body
  header#page-header
    .container
      .row
        h1#logo: a(href="/")
          span.name npmawesome
          span.posts-counter=getCollection('posts').length

        #sub-title
          | <a href="http://npmjs.org">npm</a> picks, old and new.
          | <a href="https://github.com/alexgorbatchev/npm-awesome-site">Fork on GitHub to contribute</a>

  .container
    .row
      .main.col
        block content
          != content

      aside.col
        .feedburner: a(href="http://feeds.feedburner.com/npmawesome"): img(src="/images/feed.gif")
        != partial('other-posts')
        //- iframe(src="http://githubbadge.appspot.com/alexgorbatchev" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0")

  a.hide-on-mobile#fork-me(href="https://github.com/alexgorbatchev/npm-awesome-site") Fork Me

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    // http://drawingablank.me/blog/fix-your-bounce-rate.html
    // https://news.ycombinator.com/item?id=5766883
    setTimeout(function() { ga('send', 'event', 'read', 'auto generated'); }, 5000);

    ga('create', 'UA-46164085-1', 'npmawesome.com');
    ga('send', 'pageview');

  script.
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'npmawesome'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());

  script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(async src="/scripts/npmawesome.min.js")
  script(async src="//platform.twitter.com/widgets.js")
  script(async src="//yandex.st/share/share.js")



